*.react
*.artifacts

node_modules/
**/node_modules/
.next/
admin/.next/
admin/.vercel/
admin/.env.local
admin/.env.dev
admin/.env
landing/.next/
landing/.vercel/
landing/.env.local
landing/.env.dev
landing/.env
*.tsbuildinfo
